In [1]:
#for loop
#A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
#This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.
#With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [29]:
#1
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [30]:
#2
for x in "banana":
  print(x)

b
a
n
a
n
a

In [32]:
#3
cities=["satara","pune","mumbai"]
for v in cities:
    print(v)

satara
pune
mumbai

In [33]:
#4
num=[11,55,6,8]
for i in num:
    sq=i*i
    print("square",sq)

square 121
square 3025
square 36
square 64

In [34]:
#5
num=[19,50,6,8]
for v in num:
  if v%2==0:
        print("even")

even
even
even

In [35]:
#6
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [37]:
#7
print("table of 5")
for i in range (5,55,5):
    print(i)

table of 5
5
10
15
20
25
30
35
40
45
50

In [38]:
#8
n=[11,9,7-2,0]
pos=0
neg=0
zero=0
for v in n:
    if v>0:
        pos=pos+1
    elif v<0:
        neg=neg+1
    else:
        zero=zero+1
print("count of pos no",pos)
print("count of neg no",neg)
print("count of zero no",zero)

count of pos no 3
count of neg no 0
count of zero no 1

In [39]:
#9
for i in range(4):
    print(i)

0
1
2
3

In [40]:
#10
for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9