In [3]:
#DataFrame operations
import pandas as pd
#creare a sample Dataframe
data={
    'A':[1,2,2,3,4,4,4,5],
    'B':['foo','bar','foo','bar','foo','bar','foo','bar']
}
df=pd.DataFrame(data)

#count occurance of each value in column 'A'
count_A=df['A'].value_counts()
print("count of each value in column 'A':")
print(count_A)

count of each value in column 'A':
A
4    3
2    2
1    1
3    1
5    1
Name: count, dtype: int64

In [5]:
#Apply function to column'A' (e.g.,square each value)
df['A_squared']=df['A'].apply(lambda x:x**2)
print("\nDataFrame with 'A_squared':")
print(df)

DataFrame with 'A_squared':
   A    B  A_squared
0  1  foo          1
1  2  bar          4
2  2  foo          4
3  3  bar          9
4  4  foo         16
5  4  bar         16
6  4  foo         16
7  5  bar         25

In [6]:
#Find unique value in column 'B'
unique_B=df['B'].unique()
print("\nUnique values in column 'B':")
print(unique_B)

Unique values in column 'B':
['foo' 'bar']

In [7]:
#count unique values in column 'B'
unique_count_B=df['B'].nunique()
print("\,Count of unique values in column 'B':")
print(unique_count_B)

\,Count of unique values in column 'B':
2

In [8]:
print(df.head())

   A    B  A_squared
0  1  foo          1
1  2  bar          4
2  2  foo          4
3  3  bar          9
4  4  foo         16

In [9]:
print(df.tail())

   A    B  A_squared
3  3  bar          9
4  4  foo         16
5  4  bar         16
6  4  foo         16
7  5  bar         25

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   A          8 non-null      int64
 1   B          8 non-null      object
 2   A_squared  8 non-null      int64
dtypes: int64(2), object(1)
memory usage: 324.0+ bytes
None

In [11]:
print(df.describe())

              A  A_squared
count  8.000000   8.000000
mean   3.125000  11.375000
std    1.356203   8.210403
min    1.000000   1.000000
25%    2.000000   4.000000
50%    3.500000  12.500000
75%    4.000000  16.000000
max    5.000000  25.000000