In [3]:
#selection:
import pandas as pd
data={'Name':['Alice','Bob','charlie','David','Evil'],
      'Age':[24,27,22,32,29],
      'city':['New York','Los Angeles','chicago','Houston','Phoenix']
}
df=pd.DataFrame(data)

In [5]:
#selecting the 'Name' column:
name_column=df["Name"]
print(name_column)

0      Alice
1        Bob
2    charlie
3      David
4       Evil
Name: Name, dtype: object

In [8]:
#selecting name and age column
name_age_columns=df[['Name','Age']]
print(name_age_columns)

      Name  Age
0    Alice   24
1      Bob   27
2  charlie   22
3    David   32
4     Evil   29

In [11]:
#selecting rows with label 1
row_by_label=df.loc[1]
print(row_by_label)

Name    charlie
Age          22
city    chicago
Name: 2, dtype: object

In [10]:
#By Position('iloc')
row_by_position=df.iloc[2]
print(row_by_position)

Name    charlie
Age          22
city    chicago
Name: 2, dtype: object

In [13]:
subset_by_label=df.loc[1:3,['Name','city']]
print(subset_by_label)

      Name         city
1      Bob  Los Angeles
2  charlie      chicago
3    David      Houston

In [14]:
#selecting specific rows and columns by position
subset_by_position=df.iloc[1:4,0:2]
print(subset_by_position)

      Name  Age
1      Bob   27
2  charlie   22
3    David   32

In [15]:
#conditional selection
#selecting rows where 'Age' is greater than 25
age_greater_25=df[df['Age']>25]
print(age_greater_25)

    Name  Age         city
1    Bob   27  Los Angeles
3  David   32      Houston
4   Evil   29      Phoenix

In [18]:
#selecting rows where 'Age' is greater than 25 and city is 'new York'
conditioned_rows=df[(df['Age']>25)&(df['city']=='New York')]
print(conditioned_rows)

Empty DataFrame
Columns: [Name, Age, city]
Index: []

In [19]:
#Adding a new column 'Country' with a constant value
df['Country']='USA'
print("\nDataFrame after adding 'Country' column:\n",df)

DataFrame after adding 'Country' column:
       Name  Age         city Country
0    Alice   24     New York     USA
1      Bob   27  Los Angeles     USA
2  charlie   22      chicago     USA
3    David   32      Houston     USA
4     Evil   29      Phoenix     USA

In [20]:
#Deleting the 'city' column
df=df.drop(columns=['city'])
print("\nDataFrame after deleting 'City' column:\n",df)

DataFrame after deleting 'City' column:
       Name  Age Country
0    Alice   24     USA
1      Bob   27     USA
2  charlie   22     USA
3    David   32     USA
4     Evil   29     USA

In [21]:
#Deleting the Country Column
del df['Country']
print("\nDataFrame after deleting 'City' column:\n",df)

DataFrame after deleting 'City' column:
       Name  Age
0    Alice   24
1      Bob   27
2  charlie   22
3    David   32
4     Evil   29

In [23]:
#updating Column
#updating the 'Age' column to be increased by 1
df['Age']=df['Age']+1
print("\nDataFrame after updating  'Age' column:\n",df)

DataFrame after updating  'Age' column:
       Name  Age
0    Alice   26
1      Bob   29
2  charlie   24
3    David   34
4     Evil   31

In [24]:
#setting "Name" as index
df_with_index=df.set_index('Name')
print("\nDataFrame with 'Name' as the index:\n",df_with_index)

DataFrame with 'Name' as the index:
          Age
Name
Alice     26
Bob       29
charlie   24
David     34
Evil      31

In [25]:
#Dropping to index to remove it
df_no_index=df.reset_index(drop=True)
print("\nDataFrame after removing the index:\n",df_no_index)

DataFrame after removing the index:
       Name  Age
0    Alice   26
1      Bob   29
2  charlie   24
3    David   34
4     Evil   31

In [26]:
#Operation
data={
    'A':[10,20,30,40,50],
    'B':[1,2,3,4,5]
}
df=pd.DataFrame(data)
print("Original DataFrame:\n",df)

Original DataFrame:
     A  B
0  10  1
1  20  2
2  30  3
3  40  4
4  50  5

In [31]:
#Addition
df['A_plus_B']=df['A']+df['B']
print("\nDataFrame after adding column 'A' and 'B':\n",df)

DataFrame after adding column 'A' and 'B':
     A  B  A_plus_B
0  10  1        11
1  20  2        22
2  30  3        33
3  40  4        44
4  50  5        55

In [32]:
#Substraction
df['A_minus_B']=df['A']-df['B']
print("\nDataFrame after substracting column 'A' and 'B':\n",df)

DataFrame after substracting column 'A' and 'B':
     A  B  A_plus_B  A_minus_B
0  10  1        11          9
1  20  2        22         18
2  30  3        33         27
3  40  4        44         36
4  50  5        55         45

In [33]:
#Multiplication
df['A_times_B']=df['A']*df['B']
print("\nDataFrame after multiplying  column 'A' and 'B':\n",df)

DataFrame after multiplying  column 'A' and 'B':
     A  B  A_plus_B  A_minus_B  A_times_B
0  10  1        11          9         10
1  20  2        22         18         40
2  30  3        33         27         90
3  40  4        44         36        160
4  50  5        55         45        250

In [34]:
#Division
df['A_div_B']=df['A']/df['B']
print("\nDataFrame after dividing  column 'A' by 'B':\n",df)

DataFrame after dividing  column 'A' by 'B':
     A  B  A_plus_B  A_minus_B  A_times_B  A_div_B
0  10  1        11          9         10     10.0
1  20  2        22         18         40     10.0
2  30  3        33         27         90     10.0
3  40  4        44         36        160     10.0
4  50  5        55         45        250     10.0