In [1]:
#1
def per(eng,mar,hin):
    percentage=(eng+mar+hin)/3
    return(percentage)
m1=int(input("enter eng marks"))
m2=int(input("enter mar marks"))
m3=int(input("enter hin marks"))
result=per(m1,m2,m3)
print("percentage are",result)
def grade_letter(score):
    if score>75:
        return "A"
    elif score>50 and score<75:
        return "B"
    else:
        return "C"
def display_grade(result):
    grade=grade_letter(result)
    print("grade is",grade)
display_grade(result)

enter eng marks 65
enter mar marks 70
enter hin marks 85

percentage are 73.33333333333333
grade is B

In [5]:
#2
def factorial(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    return fact
number=int(input("enter a num"))
f=factorial(number)
print("factorial is",f)

enter a num 5

factorial is 120

In [9]:
#3
def area(r):
    pi=3.14
    a=pi*r**2
    return a
rad=int(input("enter radius"))
print(area(rad))

enter radius 4

50.24

In [11]:
#4
def vowel_count(s):
    c=0
    vowels="aeiouAEIOU"
    for char in s:
        if char in vowels:
            c=c+1
        return c
st=input("enter a strin")
v_count=vowel_count(st)
print(v_count)

enter a strin apple

1

In [12]:
#5
def prime(n):
    if n<=1:
        return "not prime"
    else:
        i=2
        while i<n:
            if n%i==0:
                return "it is not prime"
            else:
                return "it is prime"
            i=i+1
num=int(input("enter a number"))
print(prime(num))

enter a number 23

it is prime

In [13]:
#6
def max(n):
    m=n[0]
    for x in n:
        if x>m:
            m=x
    return m
l=[3,12,6,7,8]
max_num=max(l)
print("maximum num",max_num)

maximum num 12

In [14]:
#7
def calculate_triangle_area(base,height):
    area=0.5*base*height
    return area
base_length=5
height_length=8
triangle_area=calculate_triangle_area(base_length,height_length)
print("The area of triangle with base",base_length and height_length,"is",triangle_area)

The area of triangle with base 8 is 20.0

In [26]:
#8
def average(a,b,c):
  a=(a+b+c)/3
  return a  
n1=70
n2=70
n3=70
avg=average(n1,n2,n3)
print("average",avg)

average 70.0

In [29]:
#9
def daynum(d):
  if d==1:
    print("monday")
  elif d==2:
    print("tuesday")
  else:
    print("other day")
day=int(input("enter day num"))
daynum(day)

enter day num 2

tuesday

In [41]:
#10
def Armstrong(n):
 temp=n
 s=0
 while n>0:
    d=n%10
    s=s+(d**3)
    n=n//10
 if s==temp:
     print("armstrong")
 else:
     print("not armstrong")
Num=int(input("enter a num"))
result=Armstrong(Num)

enter a num 145

not armstrong